
@font-face{
	font-family:BrandonLight;
	src:url(../../fonts/Brandon_light.eot);
	src:url(../../fonts/Brandon_light.eot?#iefix) 
	format('embedded-opentype'),
	url(../../fonts/Brandon_light.woff) 
	format('woff'),url(../../fonts/Brandon_light.ttf) 
	format('truetype')
}

@font-face{
	font-family:BrandonReg;
	src:url(../../fonts/Brandon_reg.eot);
	src:url(../../fonts/Brandon_reg.eot?#iefix) 
	format('embedded-opentype'),
	url(../../fonts/Brandon_reg.woff) 
	format('woff'),url(../../fonts/Brandon_reg.ttf) 
	format('truetype')
}

@font-face{font-family:BrandonBlack;
	src:url(../../fonts/Brandon_blk.eot);
	src:url(../../fonts/Brandon_blk.eot?#iefix) 
	format('embedded-opentype'),url(../../fonts/Brandon_blk.woff) 
	format('woff'),url(../../fonts/Brandon_blk.ttf) 
	format('truetype')
}

@font-face{font-family:BrandonBold;
	src:url(../../fonts/BrandonGrotesque/Brandon_bld.eot);
	src:url(../../fonts/BrandonGrotesque/Brandon_bld.eot?#iefix) 
	format('embedded-opentype'),url(../../fonts/Brandon_bld.woff) 
	format('woff'),url(../../fonts/Brandon_bld.ttf) 
	format('truetype')
}